.btn {
  border-radius: 10px;
  padding: 10, 10, 10, 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: #7df4ad;
  color: #1b2d27;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 0px;
  margin-left: 196px;
  margin-top: 8px;
  width: 230px;
  height: 64px;
  padding-right: 128px;
}

.fullName {
  margin-bottom: 15px;
}

.emailAddress {
  margin-bottom: 10px;
  margin-top: 8px;
}

input {
  padding: 0 20px;
  border-radius: 10px;
  line-height: 100%;
  margin-left: 100px;
  border: 0px;
  font-weight: 700;
  font-size: 14px;
  width: 284px;
  height: 64px;
}
::-webkit-input-placeholder {
  color: #1b2d27;
}
@media (max-width: 762px) {
  .btn {
    margin-left: 226px;
  }
  input {
    margin-left: 120px;
  }
}
