.btn {
  border-radius: 10px;
  padding: 10, 10, 10, 10px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: #7df4ad;
  color: #1b2d27;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 0px;
  margin-left: 196px;
  margin-top: 248px;
  position: fixed;
  width: 157px;
  height: 64px;
  padding-right: 56px;
}
.full-name {
  border-radius: 10px;
  border: 0px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin-left: 100px;
  margin-bottom: 15px;
  margin-top: 128px;
  position: fixed;
  width: 284px;
  height: 64px;
}
.email-address {
  border-radius: 10px;
  border: 0px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 188px;
  position: fixed;
  width: 284px;
  height: 64px;
}

#input-name::placeholder {
  color: #1b2d27;
}
#input-email::placeholder {
  color: #1b2d27;
}
input[type="text"]::placeholder {
  padding-left: 20px;
}
