.app {
  position: relative;
  width: 400px;
  margin: auto -8px;
  width: auto;
  margin-top: -20px;
  height: 900px;
  overflow: hidden;
}
.header {
  overflow: auto;
}
.backgroundImage {
  background-image: url("./Images/tree.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 950px;
  height: 750px;
  left: -208px;
  margin-top: 10px;
  top: 0px;
  margin-left: -68px;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.title {
  font-family: "Fahkwang";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
  color: #fafffc;
  position: relative;
  margin-left: 18px;
  margin-bottom: -50px;
  margin-top: 110px;
}
.subHeading {
  width: 323px;
  height: 60px;
  font-family: "Fahkwang";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fafffc;
  position: relative;
  margin-left: 18px;
  margin-top: 60px;
}
.time {
  width: 102px;
  height: 14px;
  font-family: "Fahkwang";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #fafffc;
  transform: rotate(90deg);
  margin-top: 350px;
  display: flex;
  margin-left: -28px;
}
.minTime {
  width: 110.52px;
  height: 21.49px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #7df5ad;
  margin-left: 38px;
  margin-top: -68px;
}
.secTime {
  width: 110.52px;
  height: 21.49px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #7df5ad;
  margin-left: 38px;
  margin-top: 16px;
}
.minutes {
  width: 118.61px;
  height: 21.49px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fafffc;
  margin-left: 38px;
  margin-top: -32px;
}
.seconds {
  width: 118.61px;
  height: 21.49px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fafffc;
  margin-left: 38px;
  margin-top: -32px;
}
.form {
  margin-left: 30px;
}
